/* CSS Reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Links */
a:active,
a:hover {
  outline: 0;
}

/* Remove underline from links */
a {
  text-decoration: none;
}

/* Lists */
ul,
ol {
  list-style: none;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Reset form elements */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Buttons */
button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  outline: none;
}

/* Text Inputs */
input[type="text"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  border-radius: 0;
}

/* Normalize box sizing */
*,
*:before,
*:after {
  box-sizing: border-box;
}
